# Godot 4+ specific ignores
.godot/
android/
*.tmp
*.import
*.exe
*.pck
*.zip
lang/*.translation
.vscode/

# exports
build/

# game install dir
godot/

# extensions stuff
bin/*.so
bin/*.dll
bin/*.dll.a
bin/*.dylib
bin/*.framework

extensions/build*
extensions/cross_compile_stuff/*
