# Godot 4+ specific ignores
.godot/
*.tmp
*.import
*.exe
*.pck
*.zip

# Linux exports
OpenChamp
OpenChamp.sh
OpenChamp.x86_64
OpenChamp.arm64
OpenChampServer
OpenChampServer.sh
OpenChampServer.x86_64
OpenChampServer.arm64
